<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Web-Portal-Home</title>
  <link rel="manifest" href="/manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Web-Portal">
  <link rel="apple-touch-icon" href="">
  <meta name="msapplication-TileImage" content="">
  <meta name="msapplication-TileColor" content="#2aabd2">

<link rel="stylesheet" href="/css/bootstrap.min.css" >
<link rel="stylesheet" href="/css/bootstrap-theme.min.css"  >
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
<style type="text/css">

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
    h1{
        margin: 30px 0;
        padding: 0 200px 15px 0;
        border-bottom: 1px solid #E5E5E5;
    }
  .bs-example{
      margin: 20px;
    }
     .loader {
        float:center;
    border: 6px solid white; /* Light grey */
    border-top: 6px solid blue; /* Green */
    border-radius: 50%;
    width: 40px;
    margin-top:250px; 
    height: 40px;
    margin-left: 44%;
    animation: spin 0.8s linear infinite;
}
#loader{
    z-index:9999 !important;position:fixed; background-color:black; opacity: 0.5; height:200%; width:100%; margin-top:0% ;top:50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body{
        background-color: #cacaca;
        margin:100px 0 0;
    }
    .container-md{
        background-color:white;
        padding:5%;
        border-radius:30px;
        
    }
.fixed-top-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #87B458;
    position: fixed;
    top:60px;
    right:0;
    border-radius: 20px 0% 0% 20px;
}

.fixed-top-ul li {
    float: right;
}

.fixed-top-ul li a {
    font-size:20px;
    display: block;
    color: white;
    padding: 7px;
    padding-left: 15px;
    text-decoration: none;
}
.logo-div{
  width:60px;
  height:auto;
  background-color: white;
  margin-top: 0%;
  padding-top: 0%;
  margin-left:25%; 
  border-radius: 10%
}
.logo-img{
  width:100%;
  height:auto;
}
.badge{
    font-size: 18px;margin-bottom: 3px;color:#87B458;background-color: white
}
    
    @media screen and (max-width: 400px){
    ul.navbar-nav li a {
        padding-left: : 70%;
        float: none;
    }
.panel-heading{
    background-color:#cacaca,
    border-radius: 20px
   }
.quantity{
    font-size:25px,
    color:gray
}
.fa-minus-circle{
    color:#87B458
}
.farmer{
    color: gray,
    font-size: 12px,
    white-space:pre-wrap
}
 .empty-cat{
     color: gray,
     border:solid gray 2px,
     border-top:0px
 }
 .fa-info-circle{
    color:red
 }



</style>
</head> 
<body >
<ul class="fixed-top-ul" >
  <li><a href="#" id="orderAmount" class="slide-toggle"><i class="fa fa-shopping-bag" aria-hidden="true"></i> 0.00 Rs <span class="badge">0</span></a></li>
</ul>
<div >
    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Web-Portal</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand">
                <div class="logo-div" >
                    <img class="logo-img" src='/img/logo.png'  alt='Web-Portal Logo'>
                </div>
            </div>
            <div class="navbar-brand">
                <p class="active" style="color: white">&nbsp Web-Portal</p>
            </div>

        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle" id="catDropdown" ><span><i class="fa fa-bars" aria-hidden="true"></i></span> Category <b class="caret"></b></a>
                  <ul class="dropdown-menu" id="dropdown" style="background-color:#DADADA; border-radius:0 0 10px  10px;">

                  </ul>
                </li>
            </ul>
           
         <ul class="nav navbar-nav navbar-right">
                 <li class="active"><a href="#0 " id="btnHome"><span><i class="fa fa-home" aria-hidden="true"></i></span> Home </a></li>
                 <li><a href="#1" id="orderHistory"><span><i class="fa fa-history" aria-hidden="true"></i></span> History </a></li>
                  <li>
                  <a href="#" id="logout" class="tip-bottom" data-toggle="tooltip" title="Logout" ><span><i class="fa fa-sign-out " aria-hidden="true"></i></span></a>
             </li>
                 <li>&nbsp &nbsp</li>
               
            </ul>
        </div>
    </nav>
    </div>

<div id="loader" >
 <div class="loader"></div>
</div>


<div style="margin-top: 0px"></div>
<div id="alertMsg" class="modal fade">
    <div class="modal-dialog" style="width:300px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="btnHome" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle" aria-hidden= true style="color: gray"></i></button>
                <h4 class="modal-title" align="center">Alert Message</h4>
            </div>
        </div>
    </div>
</div>
<div  id="productPopUp" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <!-- <div class="thumbnail" hidden>
                    <img src="" >
                </div>
                 <h4 id="title" hidden>Product Name</h4>
                    <h4  id="price" hidden>Price Rs/Kg</h4>
                    <h4 id="fName" hidden>Farmer Name</h4>-->
                    <h4 id="desc">Product Description.</h4>
                    <div class="caption">
                        
                        
                        <button type="button" data-dismiss="modal" aria-hidden="true" style="margin-left: 49%;"><i class="fa fa-times-circle fa-2x" aria-hidden= true style="color: gray"></i></button>
                    </div> 
            </div>     
        </div>
    </div>
</div>    
<div class="bs-example" id="box">
    <div id="orderPopUp" class="modal fade" >
        <div class="modal-dialog" style="width:80%;margin-left: 10%;">
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button" id="btnHome" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle " aria-hidden= true style="color: gray"></i></button>
                    <h4 class="modal-title">Your Order</h4>
                </div>
                <div class="modal-body">
                    <div id="orderDiv">
                        <div class="table-responsive"> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td><b>&nbsp &nbsp Quantity</b></td>               
                                        <td ><b>Product</b></td>
                                        <td align="right"><b>Price(Rs.)</b></td>                
                                        <td align="right"><b>Amount(Rs.)</b></td>
                                    </tr>
                                </thead>
                                <tbody id="orderBody" >
                                <!-- Add Order Div-->
                                </tbody>
                                <tr>                    
                                    <td></td>                  		
                                    <td></td>
                                    <td align="right"><b>Total</b></td> 
                                    <td align="right" id="ttl"><b>0.00 Rs.</b></td>
                                </tr>
                            </table>
                        </div>
                        <button type="submit" id="btnBuy" class="btn btn-primary" style="float:right;">Buy Now</button> 
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>




    <div id="productsDiv"  class="container container-md" hidden>
        <h2 id="title" align="center" style=>Our Products</h2>    
        <!--Add table--> 
    </div>

    <div id="orderHistoryDiv"  class="container container-md" hidden>
    <div><h2 align="center"> Order History </h2></div>
    <!--Add Order History--> 
    </div>

<div hidden>
<div  class="cat-heading" style="margin-bottom: 0%;">
    <div class="panel-heading" style="background-color:#EBECE8;border-radius: 10px">
        <p class="panel-title"><b> Category Name in UpperCase </b></p>
    </div> 
    <div class="table-responsive" id="cat-table" hidden> 
    <table class="table table-hover">
        <thead>
            <tr>
                <td><b>&nbsp &nbsp Quantity</b></td>
                <td ><b>Product</b></td>
                <td align="right"><b>Price(Rs.)</b></td>
                <td align="right"><b>Amount(Rs.)</b></td>
            </tr>
        </thead>
        <tbody>
          <!-- Add Product Row--> 
        </tbody>
    </table>
    <br>
    <br>
</div>  

<div class="empty-cat" id="empty-cat"  >
<h4 align="center"  style="color: gray;border:solid #EBECE8 2px; border-top:0px">
    <i class="fa fa-info-circle" aria-hidden="true" style="color: red"></i>
    No Product Available.
    <br>
    <br>
</h4>
 <br>
<br>
</div>

</div>
</div>


<div id="product-row" hidden>
<table>
<tbody>
<tr>               
    <td>
        <a href="#" id="product-id" onclick='decreaseInQuantity(this.id) ;return false'>
            <span style="color:#87B458"><i class="fa fa-minus-circle fa-2x"></i></span>
        </a>
        	 <input type="number" class="quantity" id="product-id-q" min='0' max="9999" style="color: gray;font-size: 25px;border:0px; width:25px;padding-left: 5px;padding-right: 5px" onkeydown="resize(event)" onblur="updateQuantity(event)" value=0>
            <!-- <b class="quantity" id="product-id-q" style="font-size:25px;color:gray"> 0 </b> --> 
        <a href="#" id="product-id" onclick='increaseInQuantity(this.id) ; return false'>
        <span style="color:#87B458"><i class="fa fa-plus-circle fa-2x"></i></span>
        </a>
    </td>
    <td id="product-id" onclick="showProductDetails(this.id)">
        <br>
        <i class="farmer" style="color: gray; font-size: 12px"> Farmer Name </i>
    </td>
    <td align="right"> Price </td>
    <td align="right" id="product-id-a" > 0.00 </td>
</tr>
</tbody>
</table>
</div>


<div hidden>
<div id="order-table">
    <br><br>
    <div class="row">
    <h4 class="col-md-10 col-xs-10" style="color:green">&nbsp<span><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp</span></h4>
    <h4 class="col-md-2 col-xs-2" align="right" style="color:green"><span><i class='fa  fa-check-square-o' aria-hidden='true'></i></span></h4>
    </div>
     <div class="table-responsive">
        <table class="table table-hover">
            <thead>
              <tr>
                <td align=""><b>Name</b></td>
                <td align=""><b>Qty</b></td>
                <td align="right" ><b>Price(Rs.)</b></td>
                <td align="right"><b>Amount(Rs.)</b></td>
                <td align="right"><b>Deliver</b></td>
              </tr>
            </thead>
            <tbody>
            <!--Add row-->     
            </tbody>
            <tr>
                <td align=""><b></b></td>
                <td align=""><b></b></td>
                <td align="right"><b>Total</b></td>
                <td align="right"><b class="total-amount"></b></td>
                <td align="right" ><b></b></td>
              </tr>
        </table>
    </div>
    <br><br>
</div>
</div>
<div id="order-row" hidden>
    <table>
        <tbody>
            <tr>
                <td id="product-id" onclick="showProductDetails(this.id)" > Product_Name - 100gms</td>
                <td align=""> Quantity </td>
                <td align="right"align="right"> Price </td>
                <td align="right">Amount</td>
                <td align="right"><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            </tr> 
        </tbody>
    </table>
</div>
<div style="height: 100px"></div>


    <!--%%%%%%%%%%%%%%%%%%% FOOTER %%%%%%%%%%%%%%%%%%%%%%%-->
     <!-- <div class="well well-lg" align="right" style="margin-top: 10%;padding-top:1%; margin-bottom: 0%"><br><br>
      <button type="button" class="btn btn-info" id="enableButton">Enable Push Notifiations</button>

      </div>  

      <nav id="footer" role="navigation" class="navbar navbar-inverse" style="margin-bottom:0%; border-radius: 0%;margin-top: 300px">
        <div >
           
                 <ul align="right" style="margin-right: 2%" class="nav navbar-nav navbar-right">
               
                 <li><a>Web-Portal Team FEB/2017</a></li>
            </ul>
        </div>
    </nav>-->

</body>

  <script type="text/javascript" src="/js/3-6-10-firebase.js"></script>
  <script type="text/javascript">
     $(".tip-bottom").tooltip({
        placement : 'bottom'
    }); 
</script>

  </script>
    <script src="/js/home-md.js " type="text/javascript"></script>
    <noscript>Your browser does not support JavaScript!</noscript>
  </html>